body {
    background-color:#000000;
}
* {
    padding: 0px;
    margin: 0px;
}
input[type="radio"]:checked+label{  
    font-weight: bold;
    color: greenyellow;
    font-size: 15px;    
    opacity: 1;
}
.outerframe {
    font:10px arial,sans-serif;
    color:#e81ce8;
    position: absolute;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  

}
.outerframe span{
    display:none;
}
.outerframe:hover span{
    display:block;
}
.Owner {
    color:#00ffff;
}
.user {
    color:#00ff00;
}
.group {
    color:#0000ff;
}
.innerframe {
    border-width:1px;
    margin:1px;
}
.innertext {
    padding:2px;
    position: absolute;
}
.innertext_towny{
    display:none;
}
.marker {
    position:absolute;
    border:1px solid #000000;
    color:#ffffff;
    padding:2px;
    background-color:red;
    z-index:100;
    box-shadow: 3px 3px 3px #222;
}
.topleft{
    position:absolute;
    top:0px;
    left:2px;
    background-color:#ffffff;
    display:none;
}
.bottomleft{
    position:absolute;
    bottom:0px;
    left:2px;
    background-color:#ffffff;
    display:none;
}
.bottomright{
    position:absolute;
    right:2px;
    bottom:0px;
    background-color:#ffffff;
    display:none;
}
.outerframe:hover .innertext{
    position:center;
    font-size:15px;
    top:10px;
    left:10px;
    background-color:black;
    border:1px solid black;
    padding:5px;
    z-index:200;
    border-radius: 7px;
    border: 3px solid #736f65;
    float: right;
    opacity: 1;
}
.user {
        display:none;

}
.outerframe:hover .user{
        display:inline;
}

.outerframe:hover .innertext_towny{
    position:absolute;
    font-size:15px;
    top:10px;
    left:10px;
    background-color:black;
    border:1px solid black;
    padding:1px;
    z-index:200;
    display:block;
}
.coords {
    display:none;
    color:#ffffff;
}

#outer_box {
    position: absolute;
    top: 38px;
    left: 3px;
}

.map_image {
    position:absolute;
}
.outpost {
    background-color: rgba(0, 0, 0, 0.5);
}
.black {
    background-color: rgba(0, 0, 0, 0.7);
}
.black div, .red div {
}
.red {
    background-color: rgba(255, 0, 0, 0.7);
    color: #000000;
}
.yellow {
    background-color: rgba(255, 255, 0, 0.7);
    color: #000000;
}

.hide {
    display:none;
}
.small {
    font-size:8px;
}
.whiteborder {
    border:1px solid #FFFFFF;
    opacity: 0.7;
}
.redborder {
    border:1px solid red;
    opacity: 0.7;
}

.yellowborder {
    border:1px solid yellow;
    opacity: 0.7;
}
.blackborder {
    border:1px solid #000000;
    opacity: 0.7;
}
.innerframe {
    position: relative; top: 3px; bottom: 3px; left: 3px; right: 3px;
}
.outerframe {
}
.normallot {
    width:96px;
    height:96px;
}
.hidden {
    font-size:20px;
    background-color:#ffffff;
    display:none;
    border:1px solid black;
    padding:1px;
}

.center {
    text-align:center;
}

#menu_2d_map {
    position:fixed;
    z-index:999;
    background-color:#ffffff;
    padding: 5px 4px 5px;
    font-family:sans-serif;
    background: linear-gradient(#fff, #777);
    border: 1px solid;
    font-size: 90%;
    width: 100%;
    top:-2px;
    padding-top:8px;
    padding-bottom:8px;
    left: -1px;
}

#menu_2d_map button {
    background: #ccc;
    border-radius: 5px;
    border-style: groove; 
}

#menu_2d_map button:active {
    background: linear-gradient(#ccc, #eee);
}

#menu_2d_map a {
    text-decoration: none;
}

#scroll_to_icons {
    display:inline;
    margin-left:10px; 
}

#scroll_to_icons img{
    top: 8px;
    margin-top:-8px;
    position: relative;
    border: 1px solid black;
    padding:1px;
    box-shadow: 1px 1px 2px #888888;
}

.blink_me {
    opacity: 0.5;
    -webkit-animation: blinker 1s linear infinite alternate;
    -moz-animation: blinker 1s linear infinite alternate;
    animation: blinker 1s linear infinite alternate;
}

@-webkit-keyframes blinker {  
    from { background-color: red; }
    to { background-color: green; }
}

@-moz-keyframes blinker {  
    from { background-color: red; }
    to { background-color: green; }
}

@keyframes blinker {  
    from { background-color: red; }
    to { background-color: green; }
}